@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 15px;
}

.left-links,
.right-links {
  display: flex;
  flex-flow: row;
  margin: 0px;
  padding: 0;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
}


.left-links a,
.right-links a {
  color: black; 
  text-decoration: none;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(231, 230, 230);
  padding: 10px;
}