* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 9fr 1fr;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / 3;
  display: inline-flex;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.logo {
  grid-column: 1/2;
}

.menu {
  grid-column: 2/3;
}

.menu ul {
  text-align: center;
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  grid-column-gap: 20px;
  margin-left: 30px;
  padding: 10px;
}

/* not populating into menu grid dunno why */

.menu ul li {
  font-size: 15px;
  margin: 0px auto;
  display: inline-block;
}

.sidebar {
  background-color: #C50208;
  grid-column: 1/2;
  grid-row: 2/4;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  gap: 2%;
  grid-row-gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  padding: 10%;
  display: grid;
  align-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding: 10%;
  display: grid;
  align-items: center;
}

.nav {
  background-color: #C50208;
}

.nav ul {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: column;
  text-align: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0px auto;
  display: inline-block;
}

.article {
  background-color: #bccbde;
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}